@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Almendra', serif;
    box-sizing: border-box;
    --backColor-nav: rgb(49, 48, 48);
    --backColor: rgb(119, 119, 119);
    --fontColor: white;
    --Color1:black;
    --Color2:blue;

    
}
main{
    width: 100%;
    height: 1500px;
    border: 5px solid red;
}

/*-------------------------------------------Nav-Bar------------------------------------ */

.nav-bar{
    background: var(--backColor-nav);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.nav-bar h1{
    font-size: 3rem;
    color: var(--fontColor);
    
}

.opcions-var{
    margin-left: auto;
}

.opcions-var li{
    display: inline-block;
}

.opcions-var a{
    background-color: var(--Color2);
    border-radius: 10px;
    padding: 0.5rem;    
    color: var(--fontColor);
    font-size: 2rem;
    text-decoration: none;
}

/*-----------------------------------------------Game-Window----------------------------------------*/

.game-window{    
    background-image: url(/scr/img/village1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--backColor);
    display: flex;
    justify-content: center;    
    width: 100%;
    height: 100%;
}

.game-area{   
    display: flex;
    flex-wrap: wrap;       
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 50%;
    height: 65%;
    border: 5px solid rgb(22, 225, 59);
    background-color: rgba(72, 71, 83, 0.302);
   
}

/*----------------------------------------------Game-Field------------------------------------------*/
.game-field{
    background-color: rgba(255, 255, 255, 0.212);
    height: auto;
    width: auto;
    display: grid;  
    padding: 0; 
    margin: 0; 
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr); 
   

}

.game-field .box{    
    border: 1px dotted black;
    transition: all 0.5s ease;
    width: 75px;
    height: 75px;
    overflow: hidden;

    
}

.game-field .box:hover{
   background-color: green;
   
}

.Activehover{ /*esta class */
    background-color: rgb(22, 244, 236);
}

.spaceAviable{
    border: 1px dotted black;
    animation: parpadeo 1s ease-in-out infinite;
    overflow: hidden;
    width: 75px;
    height: 75px;  
      
}
@keyframes parpadeo {
    0%{background-color:rgba(40, 5, 240, 0.432);} 
    50%{background-color:  rgba(255, 255, 255, 0.212);}      
    100%{background-color:  rgba(40, 5, 240, 0.432);} 
}


.game-ui{
    background-color: rgba(17, 223, 223, 0.404);    
    width:80%;
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.discard-zone{
    width: auto;
    height: auto;
    background-color: brown;
    display: flex;
    align-items:start;
    justify-content: center;

}
.cementery {
    display: flex;
    align-items: center;
    justify-content: center;
 }

.cementery p{
    text-align: center;
    color: var(--fontColor);
}

.card-zone{
    width: 500px;
    height: auto;
    background-color: rgb(21, 188, 21);
    display: flex;
    align-items: start;
    justify-content: center;
    
}
.deck-zone{
    width: auto;
    height: auto;
    background-color: rgb(14, 43, 207);
    display: flex;
    align-items: start;
    justify-content: center;
}
/*----------------------------------------------styling Cards------------------------------------------*/
.card{
    background-color: rgb(236, 168, 8);
    border-radius: 10px;
    margin: 5px;
    width: 100px;
    height: 100px;
    transition: all 0.5s ease;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
   
    
}

.cardsPlace{
    background-color: gray;
    border-radius: 10px;    
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    cursor: pointer;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-zone .card:hover{
    background-color: blue;
    transform: translateY(-15%);
}

.card-zone .cards:active{  
    background-color: rgb(230, 12, 175);   
}


.deck-zone .card:hover{    
    transform: translateY(-15%);
    text-align: center;
}

.newCard {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(143deg, rgba(134,64,0,1) 8%, rgba(212,64,0,1) 51%, rgba(255,122,0,1) 92%);
    
}
.newCard p{
    color: white;
    text-align: center;
}

footer{
    height: 5%;
    background-color: black;
    color: white;
}